# python list

In [1]:
mylist = [20,30,40,50,60]
mylist

[20, 30, 40, 50, 60]

In [2]:
mylist[0]

20

In [3]:
mylist[0:]

[20, 30, 40, 50, 60]

In [4]:
mylist[0:2]

[20, 30]

In [5]:
mylist[:2]

[20, 30]

In [6]:
mylist[:]

[20, 30, 40, 50, 60]

In [7]:
print(mylist[-1])
print(mylist[-3 :])
print(mylist[: -1])
print(mylist[-3 : -1])

60
[40, 50, 60]
[20, 30, 40, 50]
[40, 50]

In [8]:
mylist = ["rajat" , "gupta" ,19]
mylist

['rajat', 'gupta', 19]

In [11]:
print(type(mylist))

<class 'list'>

In [12]:
yourlist = ["rajat" , "gupta" ,19]

In [15]:
mylist == yourlist

True

In [18]:
yourlist [0] = "harshit"
yourlist

['harshit', 'gupta', 19]

In [17]:
emp = ["Rajat" , 102, "india"]
dep1 = ["cs",10]
dep2 = ["iT", 11]
HOD_CS = [10,"MR HOD_CS"]
HOD_IT = [10,"MR HOD_IT"]

print("printing employee data....")
print("Name : %s, ID : %d< country : %s "%(emp[0],emp[1],emp[2]))
print("printing departments......")
print("Department 1:\nName: %s, ID: %d\nDepartment 2:\nName: %s, ID: %s"%(dep1[0], dep2[1], dep2[0], dep2[1]))

print("HDD Details....")

print("CS. HOD Name: %s, Id: %d"%(HOD_CS [1], HOD_CS[0]))

print("IT HOD0 Name: %s, Id: %d"%(HOD_IT[1], HOD_IT[0]))

print(type(emp), type (dep1), type (dep2), type (HOD_CS), type (HOD_IT))

printing employee data....
Name : Rajat, ID : 102< country : india
printing departments......
Department 1:
Name: cs, ID: 11
Department 2:
Name: iT, ID: 11
HDD Details....
CS. HOD Name: MR HOD_CS, Id: 10
IT HOD0 Name: MR HOD_IT, Id: 10
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [19]:
a = [1,2,3,4,5,6]
a*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [20]:
b = [7,8,9]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
print(2 in a)

True

In [24]:
for i in a:
    print(i)

1
2
3
4
5
6

In [27]:
a = [1,8,2,5,3]
a.sort()
print(a)

[1, 2, 3, 5, 8]

In [30]:
a = [1,2,3,4,5,6]
a.remove(1)
print(a)

[2, 3, 4, 5, 6]

In [31]:
print(max(a))

6

In [32]:
print(min(a))

2

In [33]:
a = [1,2,2,3,4,4,4,5,6,7,8,8,8]
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
a = [1,2,3,4,5,6]
sum = 0
for i in a:
    sum = sum + i
print("the sum is : ", sum)

the sum is :  21

In [40]:
a = [1,2,3,4,5,6]
b = [2,7,8,9]
for i in a:
    for j in b:
        if i == j:
         print("the common element is :",i)

the common element is : 2