# tuple

In [1]:
tup = (1,2,3,4)
tup

(1, 2, 3, 4)

In [8]:
R = (88,'Rajat',19)
S = 1,2,3,4,5
print(R)
print(S)

(88, 'Rajat', 19)
(1, 2, 3, 4, 5)

In [9]:
print(type(R))
print(type(S))

<class 'tuple'>
<class 'tuple'>

In [4]:
tup = (10,20,30,40,50,60)
print(tup)
count = 0
for i in tup:
    print(" tup[%d] - %d"%(count, i))
    count = count + 1

(10, 20, 30, 40, 50, 60)
 tup[0] - 10
 tup[1] - 20
 tup[2] - 30
 tup[3] - 40
 tup[4] - 50
 tup[5] - 60

In [12]:
tup = tuple(input('enter the tuple elements...'))
print(tup)
count = 0
for i in tup:
    print(" tup[%d] - %s"%(count, i))
    count = count + 1

enter the tuple elements...12345
('1', '2', '3', '4', '5')
 tup[0] - 1
 tup[1] - 2
 tup[2] - 3
 tup[3] - 4
 tup[4] - 5

In [15]:
tup = (10,20,30,40,50,60)
print(tup[1:])
print(tup[1:3])
print(tup[:5])
print(tup[0:5:2])

(20, 30, 40, 50, 60)
(20, 30)
(10, 20, 30, 40, 50)
(10, 30, 50)

In [16]:
tup = (10,20,30,40,50,60)
print(tup[-1:])
print(tup[-1:-3])
print(tup[:-5])
print(tup[0:-5:2])

(60,)
()
(10,)
(10,)

In [18]:
tup = (10,20,30,40,50,60)
del tup
print(tup)

NameError: name 'tup' is not defined

In [19]:
t = (1,2,3,4)
t*2

(1, 2, 3, 4, 1, 2, 3, 4)